<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LinkedIn</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginDispatcher</display-name>
    <servlet-name>LoginDispatcher</servlet-name>
    <servlet-class>controller.LoginDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDispatcher</servlet-name>
    <url-pattern>/LoginDispatcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecurityDispatcher</display-name>
    <servlet-name>SecurityDispatcher</servlet-name>
    <servlet-class>controller.SecurityDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecurityDispatcher</servlet-name>
    <url-pattern>/Security/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDispatcher</display-name>
    <servlet-name>UserDispatcher</servlet-name>
    <servlet-class>controller.UserDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDispatcher</servlet-name>
    <url-pattern>/User/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyDispatcher</display-name>
    <servlet-name>CompanyDispatcher</servlet-name>
    <servlet-class>controller.CompanyDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyDispatcher</servlet-name>
    <url-pattern>/Company/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResumeDispatcher</display-name>
    <servlet-name>ResumeDispatcher</servlet-name>
    <servlet-class>controller.ResumeDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResumeDispatcher</servlet-name>
    <url-pattern>/Resume/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostDispatcher</display-name>
    <servlet-name>PostDispatcher</servlet-name>
    <servlet-class>controller.PostDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostDispatcher</servlet-name>
    <url-pattern>/Post/*</url-pattern>
  </servlet-mapping>
</web-app>